In [1]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('./../Data/Stocks data.csv')

In [22]:
df.head()

,Unnamed: 0,close,adj close,articles
0,2007-01-01,12469.971875,12469.971875,. What Sticks from '06. Somalia Orders Islamis...
1,2007-01-02,12472.245703,12472.245703,. Heart Health: Vitamin Does Not Prevent Death...
2,2007-01-03,12474.519531,12474.519531,. Google Answer to Filling Jobs Is an Algorith...
3,2007-01-04,12480.690430,12480.690430,. Helping Make the Shift From Combat to Commer...
4,2007-01-05,12398.009766,12398.009766,. Rise in Ethanol Raises Concerns About Corn a...

In [23]:
df['prices'] = df['adj close'].apply(np.int64)
# df = df[['prices', 'articles']]
df = df.drop(['adj close', 'close'], axis = True)

In [24]:
df['articles'] = df['articles'].map(lambda x: x.lstrip('.-'))

In [25]:
df.head(10)

   Unnamed: 0                                           articles  prices
0  2007-01-01   What Sticks from '06. Somalia Orders Islamist...   12469
1  2007-01-02   Heart Health: Vitamin Does Not Prevent Death ...   12472
2  2007-01-03   Google Answer to Filling Jobs Is an Algorithm...   12474
3  2007-01-04   Helping Make the Shift From Combat to Commerc...   12480
4  2007-01-05   Rise in Ethanol Raises Concerns About Corn as...   12398
5  2007-01-06   A Status Quo Secretary General. Best Buy and ...   12406
6  2007-01-07   THE COMMON APPLICATION; Typo.com. Jumbo Bonus...   12414
7  2007-01-08   VW Group’s Sales Rose Sharply in 2006. Consol...   12423
8  2007-01-09   The Claim:  Hot Leftovers Should Cool at Room...   12416
9  2007-01-10   Love Among the Ruins. Dell Says Plant a Tree,...   12442

In [29]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/aesthetixell/nltk_data...

True

In [30]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata
sid = SentimentIntensityAnalyzer()

In [31]:
# adding new columns
df["compound"] = ''
df["negative"] = ''
df["neutral"] = ''
df["positive"] = ''

In [51]:
df['senti'] = ''

In [60]:
for index, row in df.iterrows(): 
    df.at[index, 'compound'] = sid.polarity_scores(row["articles"])['compound']
    df.at[index, 'positive'] = sid.polarity_scores(row["articles"])['pos']
    df.at[index, 'neutral'] = sid.polarity_scores(row["articles"])['neu']
    df.at[index, 'negative'] = sid.polarity_scores(row["articles"])['neg']
#     row["senti"] = sid.polarity_scores(row["articles"])
#     df.at[index, 'senti']='hello'
#     row["senti"] = 'hii'

In [61]:
# print(sid.polarity_scores(''))
df.head()

,Unnamed: 0,articles,prices,compound,negative,neutral,positive,senti
0,2007-01-01,What Sticks from '06. Somalia Orders Islamist...,12469,-0.9814,0.159,0.749,0.093,hello
1,2007-01-02,Heart Health: Vitamin Does Not Prevent Death ...,12472,-0.8521,0.116,0.785,0.099,hello
2,2007-01-03,Google Answer to Filling Jobs Is an Algorithm...,12474,-0.9993,0.198,0.737,0.065,hello
3,2007-01-04,Helping Make the Shift From Combat to Commerc...,12480,-0.9982,0.131,0.806,0.062,hello
4,2007-01-05,Rise in Ethanol Raises Concerns About Corn as...,12398,-0.9901,0.124,0.794,0.082,hello

In [62]:
df = df.drop(['senti'], axis = True)

In [ ]:
df.to